.paragraph--type--hero-block,
.paragraph--type--hero-block-form {
  background: rgba($blue, .2);
  background: linear-gradient(119deg, rgba($blue, .25), hsla(0, 0%, 97.6%, .938813) 32%, rgba($yellow, .25) 66%, rgba($blue, .25));
  margin-top: -110px !important;
  padding-top: 120px !important;
  padding-bottom: 40px !important;

  .donation {
    max-width: 400px;
  }

  svg {
    max-width: 480px;
    transform: rotate(-180deg);
  }

  #fondy {
    input,
    select {
      height: 35px;
    }
  }
}
